<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects - DesignDesk</title>
</head>
<body>
    <h1>Projects</h1>

    <form method="get" action="/projects">
        <label for="status">Filter By Status:</label>

        <select id="status" name="status">
            <option value="">All</option>

            <option value="PLANNED"
                    th:selected="${selectedStatus != null and selectedStatus.name() == 'PLANNED'}">
                Planned
            </option>

            <option value="IN_PROGRESS"
                    th:selected="${selectedStatus!= null and selectedStatus.name() == 'IN_PROGRESS'}">
                In Progress
            </option>

            <option value="FINISHED"
                    th:selected="${selectedStatus != null and selectedStatus.name() == 'FINISHED'}">
                Finished
            </option>

        </select>

        <button type="submit">Filter</button>

    </form>



    <p th:if="${projects.isEmpty()}">
        No projects found.
    </p>

    <div th:each="project : ${projects}">

        <h2 th:text="${project.title}">
            Project Title
        </h2>

        <p>
            Type:
            <span th:text="${project.type}">
                LOGO
            </span>
        </p>

        <p>
            Client:
            <span th:text="${project.client.name}">
                Client Name
            </span>
        </p>

        <p>
            Deadline:
            <span th:text="${project.deadline}">
                2026-08-20
            </span>
        </p>

        <p>
            Price:
            <span th:text="${project.price}">
                40.00
            </span>
        </p>

        <p>
            Status:
            <span th:text="${project.status}">
                PLANNED
            </span>
        </p>

        <a th:href="@{/projects/{id}(id=${project.id})}">
            View
        </a>

        <hr>

    </div>


</body>
</html>